---
title: Projects | Elia Borsa - Game Developer
---

<h1>Selection of professional projects</h1>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-5 pt-3">
  {% for project in site.projects %}
  <div class="col">
    <div class="card border-secondary rounded-0">
      <a href="{{ project.url }}">
        <img class="card-img-top" style="border-radius: 0px" alt="..."
          {% if project.thumbnailFile %} src={{ project.thumbnailFile }}
          {% else %} src="https://via.placeholder.com/640x480.jpg/2d2f35/ffffff?text=Elia+Borsa+Portfolio"
          {% endif %}>
      </a>
      <div class="card-body px-4 py-3">
        <h5 class="card-title">
          <a href="{{ project.url }}">{{ project.projectName }}</a>
        </h5>
        <p class="card-text">{{ project.shortDescription }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>