$anthraciteGrey: #383e42;

// Bootstrap overrides ////////////////////////////////////////////////////////////////////////////

// body
$body-bg: $anthraciteGrey;
$body-color: #dbdbdb;

// cards
$card-height: 100%; // all cards will have equal height.

// Bootstrap additions ////////////////////////////////////////////////////////////////////////////

// .navbar {
//     background-color: $anthraciteGrey;
// }

.bg-body {
    color: $body-bg;
}